@model IEnumerable<Fotomaya.Models.Admin>
@{
    /**/

    ViewBag.Title = "Admins";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Admin Yönetimi</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a href="/Admin/AdminEkle"><input type="button" class="btn btn-success" value="Ekle" /></a>
                            </li>
                            <li>
                                <a class="collapse-link" align="right"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Admin ID</th>
                                    <th>Admin Kullanıcı Adı</th>
                                    <th>Admin Ad</th>
                                    <th>Admin Soyad</th>
                                    <th>Admin Telefon</th>
                                    <th>Admin Email</th>
                                    <th>Admin Adres</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => item.admin_id)</td>
                                        <td>@Html.DisplayFor(model => item.admin_kullaniciadi)</td>
                                        <td>@Html.DisplayFor(model => item.admin_ad)</td>
                                        <td>@Html.DisplayFor(model => item.admin_soyad)</td>
                                        <td>@Html.DisplayFor(model => item.admin_telefon)</td>
                                        <td>@Html.DisplayFor(model => item.admin_email)</td>
                                        <td>@Html.DisplayFor(model => item.admin_adres)</td>
                                        <td>
                                            <a href='@Url.Action("AdminDuzenle","Admin", new { admin_id=item.admin_id })' class="btn btn-success">Düzenle</a>
                                        </td>
                                        <td>
                                            <a href='@Url.Action("AdminSil","Admin", new { id=item.admin_id })' class="btn btn-danger">Sil</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
